.CodeMirror-foldgutter-folded,.CodeMirror-foldgutter-open,.CodeMirror-foldmarker,.CodeMirror-hint,.quant__nav-mode-label,.quant__nav-mode-wrapper,.quant__tab,.menu__link,.question__title,button {
    cursor: pointer
}

.view-infos,html.is-mobile .menu__item--is-quant,html.is-mobile:not(.is-vr-browser) .menu__item:first-child,html.is-mobile:not(.is-vr-browser) .menu__item:nth-child(2),html.is-vr-browser .menu__item--is-gallery {
    display: none
}

.menu__item--is-quant {
    position: relative
}

#preloader-vr,#prompt,.quant__tab,.xr-landing__desc {
    text-align: center
}

#shader-quant-cm {
    height: calc(100% - 40px)
}

.quant {
    position: absolute;
    left: 50%;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #051015;
    padding: 5em 2.5em 20px;
    opacity: 0;
    pointer-events: none
}

.quant.is-visible {
    pointer-events: all
}

.quant__inner {
    opacity: 0;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s
}

.quant.is-visible .quant__inner {
    opacity: 1
}

.quant__nav-modes {
    position: absolute;
    right: 100%;
    padding-right: 2em;
    bottom: 32px
}

.quant__nav-mode-wrapper {
    position: relative;
    margin-top: 1.5ex;
    white-space: nowrap
}

.quant__nav-mode {
    position: absolute;
    visibility: hidden
}

.quant__nav-mode:checked~label:after {
    display: block
}

.quant__nav-mode-label:before {
    position: absolute;
    right: 100%;
    content: '';
    width: 1em;
    height: 1em;
    margin-right: .4em;
    border: 1px solid #51585b;
    background-color: #051015
}

.quant__nav-mode-label:after {
    display: none;
    position: absolute;
    top: 0;
    right: 100%;
    margin-right: calc(.65em + 1px);
    margin-top: calc(.25em + 1px);
    content: '';
    width: .5em;
    height: .5em;
    background-color: #c3c3c3
}

.quant__intro-header,.quant__tabs {
    display: -webkit-box;
    display: -ms-flexbox
}

.quant__intro {
    border-top: 1px solid #51585b;
    overflow: hidden;
    max-height: 500px
}

.is-minimized .quant__intro {
    max-height: 3em
}

.quant__intro-description {
    margin: 1em 0 .5em;
    overflow: visible;
    padding-bottom: .15em;
    font-size: .8em
}

.quant__intro-description a,.quant__intro-description button {
    font-weight: 400;
    color: #00ffad
}

@media (max-width: 1440px) {
    .quant__intro-description {
        font-size:.8rem
    }
}

@media (max-width: 1280px) {
    .quant__intro-description {
        font-size:.8rem
    }
}

.quant__intro-description ul {
    margin: .75em 0 0 2em;
    list-style-type: square
}

.quant__intro-description li {
    margin-bottom: .2em;
    line-height: 1.05em
}

.quant__intro-header {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.quant__intro--minimize {
    margin-top: .75em;
    border: 1px solid #51585b;
    height: 22px;
    width: 22px;
    position: relative
}

.quant__intro--minimize:after,.quant__intro--minimize:before {
    position: absolute;
    top: 10px;
    left: 7px;
    height: 1px;
    width: 6px;
    background-color: #51585b;
    content: ''
}

.quant__intro--minimize:after {
    opacity: 0;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

.is-minimized .quant__intro--minimize:after {
    opacity: 1
}

@media (hover: hover) {
    .quant__intro--minimize:hover {
        border-color:#c3c3c3
    }

    .quant__intro--minimize:hover:after,.quant__intro--minimize:hover:before {
        background-color: #c3c3c3
    }
}

.quant__intro-title {
    font-size: 1.5em;
    font-weight: 100;
    margin: .75em 0 0
}

.quant__tabs {
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0
}

.quant__buttons-line,.quant__controls {
    display: -webkit-box;
    display: -ms-flexbox
}

.quant__tab {
    width: 33.3333333%;
    border: 1px solid #51585b;
    padding: .5em 0
}

.quant__tab+.quant__tab {
    border-left: none
}

.quant__tab.is-active {
    background-color: #c3c3c3;
    border-color: #c3c3c3;
    color: #051015
}

@media (hover: hover) {
    .quant__tab:not(.is-active):hover {
        background-color:#51585b;
        border-color: #51585b
    }
}

.quant__buttons {
    border-left: 1px solid #51585b;
    border-right: 1px solid #51585b;
    padding: 1em 0
}

.quant__buttons-line {
    display: flex
}

.quant__buttons-line+.quant__buttons-line {
    margin-top: 1em
}

.quant__main {
    margin-top: 1em
}

#shader-quant {
    width: 100%;
    border: 1px solid #51585b;
    -webkit-transition: border-color .3s linear;
    -o-transition: border-color .3s linear;
    transition: border-color .3s linear
}

#shader-quant.success {
    border-color: #00ffad
}

#shader-quant.error {
    border-color: red
}

.quant__controls {
    position: relative;
    height: 40px;
    min-height: 40px;
    background-color: #051015;
    border-top: 1px solid #51585b;
    padding: 0 .8em;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

@media (max-width: 1440px) {
    .quant__controls {
        padding:0 .6em
    }
}

@media (max-width: 1280px) {
    .quant__controls {
        padding:0 .4em
    }

    .select-quality {
        max-width: 70px
    }
}

@media (max-width: 1000px) {
    .quant__controls {
        padding:0 .2em
    }
}

.quant__controls-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.quant__controls-left .button-icon {
    height: 18px;
    margin-left: .75em
}

.quant__controls-left .button-icon svg {
    min-width: 12px;
    height: 100%;
    fill: #fff
}

@media (hover: hover) {
    .quant__controls-left .button-icon:hover svg {
        fill:#c3c3c3
    }
}
